@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  padding: 0 166px;
}
@media (max-width: 1350px) {
  .container {
    padding: 0 100px;
  }
}
@media (max-width: 1212px) {
  .container {
    padding: 0 70px;
  }
}
@media (max-width: 1128px) {
  .container {
    padding: 0 10px;
  }
}
@media (max-width: 788px) {
  .container {
    padding: 0 3.4px;
  }
}

.header {
  width: 100%;
  height: 90px;
  font-family: "Open Sans";
  background-size: 100%;
  background-color: #050304;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 15px;
  -webkit-animation: ani 6s forwards;
          animation: ani 6s forwards;
}
@-webkit-keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}
.header__nav {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  margin-right: 30px;
}
@media (max-width: 1134px) {
  .header__nav {
    font-size: 8px;
    margin-right: 4px;
    font-weight: 300;
  }
}
@media (max-width: 442px) {
  .header__nav {
    font-size: 5px;
    margin-right: 1px;
    font-weight: 299;
  }
}
@media (max-width: 357px) {
  .header__nav {
    display: none;
  }
}
.header__cart {
  border-right: 1px solid white;
  padding: 15px;
}
@media (max-width: 1126px) {
  .header__cart {
    margin-right: 20px;
  }
}
@media (max-width: 472px) {
  .header__cart {
    margin-right: 10px;
  }
}
@media (max-width: 369px) {
  .header__cart {
    border-right: 0.5px solid white;
    padding-left: 5px;
    padding-right: 7px;
  }
}
@media (max-width: 357px) {
  .header__cart {
    display: none;
  }
}
.header__phones {
  color: #fff;
}
@media (max-width: 357px) {
  .header__phones {
    display: none;
  }
}
.header__number {
  font-size: 18px;
  font-weight: 700;
}
@media (max-width: 1526px) {
  .header__number {
    font-size: 7px;
  }
}
@media (max-width: 357px) {
  .header__number {
    display: none;
  }
}
.header__phonetext {
  font-weight: 400;
  font-size: 14px;
}
@media (max-width: 1526px) {
  .header__phonetext {
    font-size: 10px;
  }
}
@media (max-width: 1118px) {
  .header__phonetext {
    font-size: 7px;
  }
}
@media (max-width: 357px) {
  .header__phonetext {
    display: none;
  }
}
.header__phim1 {
  height: 25px;
}
@media (max-width: 357px) {
  .header__phim1 {
    display: none;
  }
}
.header__ma {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
}
@media (max-width: 357px) {
  .header__ma {
    display: none;
  }
}
.header__mainbtn {
  background-color: #ff7400;
  color: white;
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
  padding: 14px 18px;
}
@media (max-width: 1126px) {
  .header__mainbtn {
    margin-left: 20px;
    padding: 10px;
  }
}
@media (max-width: 1118px) {
  .header__mainbtn {
    padding: 7px;
    font-size: 7px;
  }
}
@media (max-width: 357px) {
  .header__mainbtn {
    display: none;
  }
}
.header .header__logo {
  width: 40px;
}
@media (max-width: 774px) {
  .header .logo {
    width: 75%;
  }
}
@media (max-width: 1128px) {
  .header .logo {
    width: 95%;
  }
}
@media (max-width: 357px) {
  .header .logo {
    width: 100%;
  }
}
.header .header__btn {
  text-decoration: none;
  color: #ffffff;
}
.header .drop {
  display: none;
}
@media (max-width: 357px) {
  .header .drop {
    display: block;
    position: relative;
  }
}
.header .getdown {
  display: none;
}
.header .het:hover > .getdown {
  display: block;
}
.header .g {
  position: absolute;
  top: 20px;
}

.sec0 {
  width: 100%;
  height: 800px;
  background: url(./img/sec0_imgs/HERO\ IMG.png) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 340px;
}
@media (max-width: 670px) {
  .sec0 {
    background-position: -300px;
    background-attachment: local;
  }
}
@media (max-width: 590px) {
  .sec0 {
    background-position: -400px;
  }
}
@media (max-width: 420px) {
  .sec0 {
    background-position: -470px;
  }
}
@media (max-width: 355px) {
  .sec0 {
    background-position: -530px;
  }
}
.sec0 .a {
  font-family: "Tinos";
  font-weight: 400;
  font-size: 50px;
  color: #d67e35;
}
@media (max-width: 670px) {
  .sec0 .a {
    font-size: 40px;
  }
}
@media (max-width: 363px) {
  .sec0 .a {
    font-size: 30px;
  }
}
.sec0 .b {
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  color: #d67e35;
}
@media (max-width: 670px) {
  .sec0 .b {
    font-size: 60px;
  }
}
@media (max-width: 363px) {
  .sec0 .b {
    font-size: 40px;
  }
}
.sec0 .c {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}
@media (max-width: 363px) {
  .sec0 .c {
    font-size: 12px;
    margin-bottom: 10px;
  }
}
.sec0 .c::after {
  content: "  —";
}
@media (max-width: 670px) {
  .sec0 .c::after {
    content: "";
  }
}
.sec0 .c::before {
  content: "— ";
}
@media (max-width: 670px) {
  .sec0 .c::before {
    content: "";
  }
}
.sec0 .btn100 {
  padding: 14px 28px 14px 27px;
  background-color: #ff7400;
  color: #fff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  border: none;
}
@media (max-width: 670px) {
  .sec0 .btn100 {
    padding: 10px 24px 10px 24px;
    font-size: 10px;
  }
}
.sec0 .new {
  width: 40%;
  text-align: center;
}
@media (max-width: 1570px) {
  .sec0 .new {
    width: 60%;
  }
}
@media (max-width: 1100px) {
  .sec0 .new {
    width: 100%;
  }
}
.sec0 .container19 {
  padding: 0 0;
}
@media (max-width: 670px) {
  .sec0 .container19 {
    padding: 0 100px;
  }
}
@media (max-width: 590px) {
  .sec0 .container19 {
    padding: 0 50px;
  }
}
@media (max-width: 490px) {
  .sec0 .container19 {
    padding: 0 10px;
  }
}
@media (max-width: 385px) {
  .sec0 .container19 {
    padding: 0 0;
  }
}

.section1 {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
@media (max-width: 1218px) {
  .section1 {
    height: 900px;
    text-align: center;
  }
}
@media (max-width: 460px) {
  .section1 {
    justify-content: center;
  }
}
.section1 .df {
  width: 80%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -68px;
}
@media (max-width: 1390px) {
  .section1 .df {
    width: 90%;
  }
}
@media (max-width: 1218px) {
  .section1 .df {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .section1 .df {
    width: 90%;
  }
}
.section1 .b {
  background-color: #ffffff;
  width: 349px;
  height: 328px;
  box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
  text-align: center;
}
@media (max-width: 1218px) {
  .section1 .b {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
}
@media (max-width: 470px) {
  .section1 .b {
    width: 270px;
    height: 300px;
  }
}
.section1 .magic {
  color: #2c2c2c;
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
}
.section1 .d {
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  color: #656363;
}
.section1 .b span {
  color: #bc9060;
}

.section2 {
  margin-top: 300px;
}
.section2 .history-title {
  font-family: "Tinos", serif;
  font-size: 54px;
  font-weight: 400;
  width: 444px;
  text-align: center;
  margin-top: 21px;
}
@media (max-width: 870px) {
  .section2 .history-title {
    text-align: center;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 560px) {
  .section2 .history-title {
    font-size: 37px;
  }
}
.section2 .history-title::after {
  content: "История";
  color: #d67e35;
}
.section2 .history-desc {
  color: #656363;
  font-size: 16px;
  width: 444px;
  text-align: center;
}
@media (max-width: 740px) {
  .section2 .history-desc {
    font-size: 13px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 500px) {
  .section2 .sdfg {
    width: 60%;
  }
}
.section2 .history-number {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  margin-left: 30px;
}
@media (max-width: 870px) {
  .section2 .history-number {
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}
.section2 .eat {
  margin-right: 30px;
  text-align: center;
  font-size: 40px;
  color: #bc9060;
  display: flex;
  flex-direction: column;
}
@media (max-width: 870px) {
  .section2 .eat {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 0;
    font-size: 30px;
  }
}
.section2 .eat span {
  color: #000;
}
.section2 .history {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 870px) {
  .section2 .history {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
.section2 .container1111 {
  padding: 0 120px;
}
@media (max-width: 1102px) {
  .section2 .container1111 {
    padding: 0 70px;
  }
}
@media (max-width: 976px) {
  .section2 .container1111 {
    padding: 0 10px;
  }
}
@media (max-width: 600px) {
  .section2 .container1111 {
    padding: 0 70px;
  }
}
@media (max-width: 600px) {
  .section2 .container1111 {
    padding: 0 20px;
  }
}

.section3 {
  margin-top: 170px;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./img/sec3_imgs/bg.png);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}
@media (max-width: 635px) {
  .section3 {
    height: 500px;
  }
}
.section3 .main {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1020px) {
  .section3 .main {
    width: 90%;
  }
}
@media (max-width: 635px) {
  .section3 .main {
    width: 50%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 380px) {
  .section3 .main {
    widows: 90%;
  }
}
.section3 .ot {
  font-size: 52px;
  font-weight: 400;
  font-family: "Tinos";
  color: #d67e34;
  width: 100%;
}
@media (max-width: 840px) {
  .section3 .ot {
    font-size: 38px;
  }
}
.section3 .tol {
  font-size: 16px;
  font-family: "Open Sans";
  color: white;
  font-weight: 400;
}
@media (max-width: 840px) {
  .section3 .tol {
    font-size: 13px;
  }
}
@media (max-width: 635px) {
  .section3 .tol {
    font-weight: 700;
    font-size: 24px;
  }
}
.section3 .btn3000 {
  padding: 10px;
  background-color: #ff7400;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 14px;
  border: none;
  color: rgb(255, 255, 255);
}
@media (max-width: 840px) {
  .section3 .btn3000 {
    font-size: 10px;
    padding: 7px;
    border: none;
  }
}

.section4 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.section4 .hi {
  font-family: "Tinos", serif;
  font-size: 54px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 150px;
  margin-top: 70px;
}
.section4 .burgers {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
@media (max-width: 830px) {
  .section4 .burgers {
    flex-direction: column;
  }
}
.section4 .burger1 {
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}
@media (max-width: 359px) {
  .section4 .burger1 {
    margin-left: 20px;
  }
}
.section4 .burgers-image {
  margin-right: 20px;
  width: 438px;
  height: 507px;
}
@media (max-width: 830px) {
  .section4 .burgers-image {
    margin-right: 0;
  }
}
@media (max-width: 448px) {
  .section4 .burgers-image {
    height: 400px;
    width: 348px;
  }
}
@media (max-width: 350px) {
  .section4 .burgers-image {
    height: 400px;
    width: 320px;
  }
}
.section4 .burger-text {
  font-family: "Tinos", serif;
  font-size: 26px;
  margin-left: 20px;
  text-align: center;
}
@media (max-width: 359px) {
  .section4 .burger-text {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 1300px) {
  .section4 .burger-text span {
    display: none;
  }
}
.section4 .ggg {
  font-size: 54px;
  font-weight: 400;
  font-family: "Tinos";
  color: black;
}
.section4 .ggg::after {
  content: "Блюда";
  color: rgb(214, 126, 52);
}
.section4 .pizza {
  height: 507px;
  width: 438px;
}
@media (max-width: 448px) {
  .section4 .pizza {
    height: 400px;
    width: 348px;
  }
}
@media (max-width: 350px) {
  .section4 .pizza {
    height: 400px;
    width: 320px;
  }
}

.menu {
  background-image: url(./img/sec5_imgs/Mask\ Grourvp.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 96px;
}
.menu .menu-title {
  font-family: "Tinos", serif;
  font-size: 54px;
  padding-top: 98px;
  color: #fff;
  text-align: center;
  padding-bottom: 136px;
}
@media (max-width: 777px) {
  .menu .menu-title {
    font-size: 30px;
  }
}
.menu .menu2 {
  background-color: #fff;
  text-align: center;
  width: 33%;
  padding-top: 83px;
  padding-bottom: 31px;
  margin-right: 18px;
}
@media (max-width: 1140px) {
  .menu .menu2 {
    margin: 20px auto;
  }
}
@media (max-width: 777px) {
  .menu .menu2 {
    width: 50%;
  }
}
@media (max-width: 421px) {
  .menu .menu2 {
    width: 70%;
  }
}
.menu .menu-text {
  font-family: "Tinos", serif;
  font-size: 26px;
  padding-top: 16px;
  padding-bottom: 17px;
}
@media (max-width: 777px) {
  .menu .menu-text {
    font-size: 17px;
  }
}
.menu .menu-subtext {
  font-size: 16px;
}
@media (max-width: 777px) {
  .menu .menu-subtext {
    font-size: 14px;
  }
}
.menu .menu-btn {
  background-color: #d67e34;
  text-decoration: none;
  padding: 14px 67px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border: none;
}
@media (max-width: 777px) {
  .menu .menu-btn {
    padding: 10px 40px;
  }
}
.menu .menu-button {
  margin-top: 20px;
}
.menu .price-image {
  position: absolute;
  bottom: 0;
  right: 31px;
}
@media (max-width: 540px) {
  .menu .ass {
    display: none;
  }
}
.menu .menu-image {
  position: relative;
}
.menu .price1 {
  position: absolute;
  bottom: 33px;
  right: 57px;
  color: #fff;
  font-size: 30px;
}
.menu .menu1 {
  display: flex;
  justify-content: center;
}
@media (max-width: 1140px) {
  .menu .menu1 {
    display: block;
  }
}

.otzyv {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 700px;
  background-color: rgb(229, 229, 229);
  background-size: cover;
}
.otzyv .may {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.otzyv .i {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
}
@media (max-width: 360px) {
  .otzyv .i {
    font-size: 16px;
  }
}
.otzyv .br {
  border-radius: 50%;
}
.otzyv .pos {
  color: rgb(0, 0, 0);
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
}
.otzyv .nic {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

.galery .container10 {
  padding: 0 166px;
  text-align: center;
}
@media (max-width: 870px) {
  .galery .container10 {
    padding: 0 100px;
  }
}
@media (max-width: 744px) {
  .galery .container10 {
    padding: 0 20px;
  }
}
@media (max-width: 580px) {
  .galery .container10 {
    padding: 0 1px;
  }
}
.galery .title {
  font-family: "Tinos", serif;
  font-size: 54px;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 60px;
}
@media (max-width: 870px) {
  .galery .title {
    font-size: 37px;
  }
}
@media (max-width: 600px) {
  .galery .ee {
    width: 90%;
  }
}
.galery .title::after {
  content: "Блюд";
  color: #d67e34;
}
.galery .galery-content {
  display: flex;
  justify-content: center;
}

.galery-left {
  margin-right: 20px;
}

.galery-down,
.galery-up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cook {
  padding-bottom: 100px;
}
.cook .cook-title {
  font-family: "Tinos", serif;
  font-size: 54px;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
}
.cook .cook-content {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 1300px) {
  .cook .cook-content {
    display: block;
  }
}
@media (max-width: 1300px) {
  .cook .pi {
    display: block;
    margin: 20px auto 20px auto;
  }
}
@media (max-width: 390px) {
  .cook .pi {
    width: 50%;
  }
}
.cook .wwwwwwwwwwww {
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  text-align: center;
  margin-bottom: 50px;
}
@media (max-width: 390px) {
  .cook .wwwwwwwwwwww {
    font-size: 30px;
  }
}
.cook .wwwwwwwwwwww::after {
  content: "Повара";
  color: #d67e34;
}
.cook .container111 {
  padding: 0 100px;
}
@media (max-width: 630px) {
  .cook .container111 {
    padding: 0 50px;
  }
}
@media (max-width: 462px) {
  .cook .container111 {
    padding: 0 10px;
  }
}

.footer {
  margin-top: 10px;
  background: url(./img/footer_imgs/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 767px;
}

@media (max-width: 1500px) {
  .galery-content {
    display: flex;
    flex-direction: column;
  }
  .asdf,
.galery-up,
.galery-down {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .asdf {
    margin-bottom: 20px;
  }
  .galery-left {
    margin-right: 0;
  }
}/*# sourceMappingURL=e.css.map */